<%- include('partials/head') %>

		<%- include('partials/navbar') %> 
		<h1>The Home Page <%= 6 * 6 / 2 * 3 + 4 %></h1>
		<p>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut et
			fugiat, impedit sint eos expedita. Illo maxime veritatis ipsam sit
			deserunt deleniti, dolorem sequi laborum animi. Eum, eos a! Esse.
		</p>

		<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore
			esse voluptatem nemo fugit fugiat est quod ad modi sapiente possimus
			pariatur minus totam, fuga assumenda dolores sint quas ipsa
			laudantium!
		</p>
		
<%- include('partials/footer') %>
